#token
src/main/resources/de/nirusu99/akan/token

# SVN
.svn
repo/

# VIM locks
*.swp

# LibreOffice locks
.~lock.*#

*.tmp

# Word temporary
~$*.doc*
#
# # Excel temporary
~$*.xls*
#
# # Excel Backup File
*.xlk

# Eclipse
.metadata/
.recommenders/
.checkstyle
.classpath
.project
.settings
bin/
target/

#gradle
/.gradle
/gradlew
/gradlew.bat
/gradle
/build/
/out/

# IntelliJ IDE
.idea
*.iws
*.iml
*.eml
/out/

# Mac
.DS_Store
__MACOSX/

# Windows
Thumbs.db

#uebungsblatt_2

# LaTex
*.acn
*.acr
*.alg
*.aux
*-blx.bib
*.bbl
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.out
*.ps
*.run.xml
*.snm
*.synctex.gz
*.synctex(busy)
*.tdo
*.toc

#vscode
.vscode

#bot-files
/config.json
/log.json
logs
guilds/
/operators.json

# better version of lavaplayer lol
/src/main/java/com/sedmelluq/discord/lavaplayer/
/src/main/resources/com/
/src/main/resources/certificates/

#tmp dir
/tmp/
.factorypath

#images
/images/

# personal files
TODO.md


# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
